body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 236, 222); 
}

.screen {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    flex: none;
}

.pixel {
    flex:none;
    padding: 0;
    margin: 0;
}

.main-container {
    width: 1200px;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    width: 500px;
    height: 500px;
}