body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 236, 222); 
}

.screen {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    flex: none;
}

.pixel {
    flex:none;
    padding: 0;
    margin: 0;
}

.main-container {
    width: 1200px;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resolution {
    -webkit-appearance: slider-vertical;
    width: 8px;
    height: 80%;
    border-radius: 5px;
    text-align: center;
    margin: 30px 0px;
    border: 1px solid beige;
    background-color: rgb(177, 92, 35);
}

.resolution::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius:50%;
    width: 3px; 
    height: 3px; 
    background: rgb(168, 168, 150); 
    box-shadow: 0 0 3px 5px rgb(168, 168, 150);
    cursor: pointer;
}

.options {
    width: 500px;
    height: 500px;
}