body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 236, 222); 
}

.screen {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    flex: none;
}

.pixel {
    flex:none;
    padding: 0;
    margin: 0;
}

.main-container {
    width: 1200px;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-view,
.slider-engine {
    width: 25px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.slider-engine {
    z-index: 1;
    position: absolute;
}

.sliderview-peg {
    flex: 1;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-peg {
    flex: 1;
}

.slider-cursor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    pointer-events: none;
}